.new_movie-cont {
  width: 15%;
  height: 10vh;
  font-size: 1.2rem;
  font-weight: bold;
  color: #ffff;
  background: var(--main-blue);
  border-radius: 5px;
  text-decoration: none;
  text-align: center;
}

.new_movie-cont:hover {
  text-decoration: underline;
}
